/* @font-face {
    font-family: 'rubikregular';
    src: url('Rubik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
 */

 @font-face {
    font-family: 'rubikregular';
    src: url('../../../public/Rubik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

