.button,
a.button {
    color: var(--white);
}

.button {
    display       : inline-block;
    font-size     : 1.75rem;
    line-height   : 2.75rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    border-radius : 5rem;
    transition: background-color .3s ease;
}

.button.border {
    border: 1px solid var(--dip-blue) !important;
}

.button.fill {
    background-color: var(--dip-blue);
}

.button:hover {
    background-color: var(--dip-blue);
}

a.explore {
    display: inline-block;
    font-size  : 1.75rem;
    line-height: 2.75rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--dip-blue);
    
}
a.explore span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.explore svg {
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 1.5rem;
}

.viewall_btn_box {
    margin-top: 4rem;
}

.button.hero_btn {
    padding: 2rem 6rem;
}