.loading_lottie_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 99;
}
.loading_lottie_wrapper .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.loading_lottie_wrapper .inner>div {
    width: 320px !important;
    height: 390px !important;
}