.ow_card {
    border: 1px solid var(--dip-blue);
    border-radius: 1.25rem;
    overflow     : hidden;
    min-height: 56rem;
}

.ow_content img {
    width: 100%;
}

.ow_content h2 {
    font-weight: 800;
    font-size  : 4rem;
    line-height: 4.5rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    background             : linear-gradient(90deg, #FFFFFF 15.86%, #FFFFFF 41.44%, #FFFFFF 60.73%, #FFFFFF 84.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip        : text;
    padding: 3rem;
}


@media (max-width: 575.98px) {
    .ow_content h2 {
        font-size: 2.5rem;
        line-height: 3.75rem;
    }
    .ow_card {
    
        min-height: 52rem;
    }
}
