.footer_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .created_by{
    font-size: 16px;
    text-align: center;
    color: #fff;
    transform: translateY(74px);
    font-weight: 300;
}
footer .created_by .developer{
    color: var(--blue);
    filter: brightness(1.3);
}
footer .created_by .developer:hover{
    filter: brightness(1);
    
}
.footer_logo_wrapper{
    flex-basis: 41%;
}

.about_info,
.usa_info{
    flex-basis: 17%;
}

.bd_info{
    flex-basis: 25%;
}

.footer_logo img {
    width: 100%;
    max-width: 43.5rem;
}
.block_box h2 {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FFFFFF 15.86%, #FFFFFF 41.44%, #FFFFFF 60.73%, #FFFFFF 84.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 2rem;
}
.block_box a, .block_box p {
    display: block;
}
.block_box a, .block_box p, .terms_privacy a {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.25rem;
    color: var(--gray);
}
.terms_privacy {
    text-align: right;
}
.terms_privacy a {
    display: inline-block;
}
.social_terms {
    display: grid;
    grid-template-columns: auto auto;
}
.social {
    padding-top: 4rem;
    display: none;
}
.social a {
    display: inline-block;
    margin-right: 3rem;
}
.social img {
    width: 4rem;
    height: 4rem;
}

@media(min-width: 768px){
    .social{
        display: block;
    }
    .social_terms{
        display: none;
        grid-template-columns: auto auto;
    }
}

@media(max-width: 767.98px){
    .social_terms{
        display: grid;
    }

    .social_terms .social{
        display: block;
    }
}

@media (max-width: 575.98px) {
    footer.py-100 {
        padding-bottom: 2rem;
    }
    footer .container .footer_content>* {
        padding-bottom: 4.5rem;
        padding-inline: 0.75rem;
    }
    footer .container .footer_content>*.pt-100 {
        padding-top: 0;
    }
    .footer_content > :not(:first-child){
        flex-basis: 50%;
    }
    .footer_logo_wrapper{
        flex-basis: 100%;
    }
    
    
    .footer_logo img {
        max-width: 23.5rem;
    }
    .social_terms {
        grid-template-columns: auto;
        row-gap: 2rem;
    }
    .social {
        padding-top: 0;
    }
    .social a {
        margin-right: 1.5rem;
    }
    
    .social img {
        width: 3.2rem;
        height: 3.2rem;
    }
}